@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Spartan&display=swap");

.App {
  font-family: "Spartan", sans-serif;
  text-align: center;
}

body {
  background-color: #60a5fa;
  max-width: 85%;
  margin: 0 auto;
}

div button {
  width: 100px;
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

ul li {
  display: block;
  margin-top: 1rem;
  margin-right: 3rem;

  padding: 1rem;
  background-color: #e5e7eb;
  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: left;
  padding: 1rem;
}

#content {
  width: 100%;
  margin: 0 auto;
}

hr {
  background-color: black;
  outline: none;
  margin: 0 auto;
}

#bookHeading {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
}

#bookRating {
  font-size: small;
  font-weight: regular;
  margin-bottom: 0.5rem;
}
